.main-header{
    background-color: black;
    color: white;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.main-header .logo{
    width: 20%;
}

.main-header .logo img{
    width: 100%;
    height: 70px;
    object-fit: contain;
}

.main-header nav {
    width: 80%;
}

.main-header nav ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: 0;
    float: right;
}

.main-header nav ul li {
    display: inline-block;
    padding: 0 15px;
}
.main-header nav ul li a{
    color: white;
    text-decoration: none;
}
.main-header nav ul li a:hover {
    color: red;
    cursor: pointer;
}